{% css %}
.logo-text {
    font-size: var(--bulma-title-size);
    font-weight: var(--bulma-title-weight);
    --bulma-title-color: var(--bulma-text-strong);
    --bulma-title-size: var(--bulma-size-3);
    --bulma-title-weight: var(--bulma-weight-extrabold);
    --bulma-title-strong-color: inherit;
    --bulma-title-strong-weight: inherit;
}
{% endcss %}
{% js %}
function toggleSidebar() {
    const sidebar = document.getElementById("sidebar-menu").classList.toggle("is-hidden-touch");
    document.getElementById("sidebar-toggle").classList.toggle("is-active");
}
{% endjs %}
<script>
function setTheme(dark, save) {
    const theme = dark ? "dark" : "light";

    document.documentElement.setAttribute("data-theme", theme);
    document.getElementById("theme-toggle-icon").textContent = dark ? "🌙" : "☀️";

    if (save) {
        localStorage.setItem("theme", theme);
    }
}

function toggleTheme() {
    setTheme(document.documentElement.getAttribute("data-theme") !== "dark", true);
}

function fromMedia(prefersDark) {
    const saved = localStorage.getItem("theme");
    setTheme(saved === "dark" || (!saved && prefersDark), false);
}
</script>

<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item logo-text" href="/">{{ metadata.title }}</a>
        <a class="navbar-item is-size-4" role="button" aria-label="theme toggle" onclick="toggleTheme()" title="Toggle dark/light mode">
            <span id="theme-toggle-icon">☀️</span>
        </a>
        <a id="sidebar-toggle" class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" onclick="toggleSidebar()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

<script>
try {
    fromMedia(window.matchMedia("(prefers-color-scheme: dark)").matches);
    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", event => {
        fromMedia(event.matches);
    });
} catch(e) {}
</script>
