<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">

        {% getBundle "html", "head" %}
        {% getStyleBundle "css" %}
        <link rel="stylesheet" href="/assets/bulma/bulma.min.css"/>
    </head>
    <body>
        <header>
            <a href="/">{{ metadata.title }}</a>
        </header>

        <main class="section">
            <div class="content">
                {{ content | safe }}
            </div>
        </main>

        <script type="module">{% getBundle "js" %}</script>
    </body>
</html>
