<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">

        {% getBundle "html", "head" %}
        {% getStyleBundle "css" %}
        <link rel="stylesheet" href="/assets/bulma/bulma.min.css"/>
    </head>
    <body>
        <header>
            <nav class="navbar is-primary has-shadow">
                <div class="navbar-brand">
                        <a class="navbar-item title is-3" href="/">{{ metadata.title }}</a>
                    </div>
            </nav>
        </header>

        <main class="columns">
            <div class="column is-2">
                <aside class="content py-4">
                    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
                </aside>
            </div>
            <div class="column">
                <div class="section">
                    <div class="container content">
                        {{ content | safe }}
                    </div>
                </div>
            </div>
        </main>

        <script type="module">{% getBundle "js" %}</script>
    </body>
</html>
